<div class="widget ">

  <div class="widget-head">
    <div class="pull-left">Students</div>
    <div class="clearfix"></div>
  </div>

  <div class="widget-content">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Phone</th>
          <th>ExternalID</th>
          <th>Cron</th>
          <th>Lessons</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>

        <% students.forEach(function(stu) { %>
          <tr>
            <td><%=stu.phone%></td>
            <td><%=stu.externalId%></td>
            <td><%=stu.timezone%> (<%=stu.schedule%>)</td>
            <td><%=stu.lessons%></td>
            <td>

              <% if (stu.active) { %>
                <span class='label label-success'>active</span>
              <% } else { %>
                <span class='label label-important'>inactive</span>
              <% } %>

              <% if (stu.initialized) { %>
                <span class='label label-success'>initialized</span>
              <% } else { %>
                <span class='label label-important'>uninitialized</span>
              <% } %>

              <% if (stu.confirmed) { %>
                <span class='label label-success'>confirmed</span>
              <% } else { %>
                <span class='label label-important'>unconfirmed</span>
              <% } %>

              <span class='label'><%= stu.answers.length %></span>

            </td>
            <td>
              <a href='/admin/students/delete/<%=stu._id%>' class='btn btn-danger del_student'><i class="icon-remove"></i></a>

            </td>
          </tr>
        <% }); %>

      </tbody>
    </table>


  </div>

  <div class="widget-foot">

    <p></p>

    <div class="clearfix"></div> 

  </div>

</div>


<div id='crons_page'></div>

<script src="/public/js/_students.js"></script>